.container-fluid {
	margin: 50px;
	font-family: arial;
}

body {
	padding: 20px; //changes what looks like the margin- will adjust in end
}

ul{
	list-style: none;
	margin:0 ;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	display: inline;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul li a, ul.nav li a:visited {
    color: #A4E869; //yellow-lime
}

ul li a:hover, ul.nav li a:active {
    color: #38c5fc; //logo-blue
}

ul li.active a {
    color: #b5b59c; //light-brown
}

.active1 {
	color: #b5b59c; //light brown
}

.active2 {
	color: #b5b59c; //light brown
}

.active3 {
	color: #b5b59c; //light brown
}

#intro { //top 4 lines div
}

.logo {
	position: absolute;
	right: 50px;
	top: 155px
}

.title {
	  font-size: 50px;
		color: #ED8A19; //orange
		margin: 0;
		line-height: 1;
		padding: 0;
}

.p1 {
	font-size: 20px;
	color: #b5b59c; //light brown
	margin: 0;
	line-height: 1;
	padding: 0;
}

.p2 {
	font-size: 35px;
	color: #ED8A19; //orange
	margin: 0;
	line-height: 1;
	padding: 0;
}

.p3 {
	font-size: 20px;
	color: #b5b59c; //light brown
	margin: 0;
	line-height: 1;
	padding: 0;
}

.p5 {
	font-size: 35px;
	color: #ED8A19; //orange
	margin: 0;
	line-height: 1;
	padding: 0;
	text-align: center;
}


.p5 a:visited {
    color: #38c5fc; //logo-blue
}

.p5 a:hover, ul.nav li a:active {
    color: #A4E869; //yellow-lime
}

.p5.active a {
    color: #b5b59c; //light-brown
}

.p6 {
	font-size: 14px;
	color: #989599
	line-height: 1;
	padding: 30px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	color:  #b5b59c; //light brown
}

.p6 a:visited {
    color: #38c5fc; //logo-blue
}

.p6 a:hover, ul.nav li a:active {
    color: #A4E869; //yellow-lime
}

.p6.active a {
    color: #b5b59c; //light-brown
}


#websiteContainer {
	font-size: 20px;
	color:  #b5b59c; //light brown
	margin: 0;
	line-height: 1;
}

#websiteContainer a, ul.nav li a:visited {
    color: #38c5fc; //logo-blue
}

#websiteContainer a:hover, ul.nav li a:active {
    color: #A4E869; //yellow-lime
}

#websiteContainer.active a {
    color: #b5b59c; //light-brown
}
